{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block contenido %}

<div class="container-fluid">
  <div class="col-2 mt-4">
    <a  class="mt-4" href="{% url 'core:inicio' %}">
      <img  class="mr-2 " src="https://img.icons8.com/android/24/000000/left.png"/><span class="texto-form text-decoration-none">
        Regresar 
      </span>
    </a>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center align-item-center">
      <div class="card " style="width: 500px; background-color: white;">
          <div class="card-body bg-form">
            <h1 class="text-center mt-4 mb-4  text-center title-account">{% trans "Login" %}</h1>

            <p class="border-bottom"></p>

            <form class="signup  m-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form|crispy}}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="form-group d-flex align-item-center justify-content-center">
                <button class=" btn rounded-0 m-2 align-item-center btn-account primaryAction" type="submit">{% trans "Sign Up" %} &raquo;</button>
              </div>
            </form>

            <p class="text-center texto-form">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
          </div>
        
      </div>
    </div>
  </div>
  
</div>

{% endblock %}
