.nav-top{
    border-left: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

#position-Derecha{
    margin-left: 350px;
    margin-bottom: 200px;
}

.price{
    color: #333;
    font-family: 'Comfortaa', cursive;
}

.descuento{
    text-decoration: line-through;
    color: #333;
    font-family: 'Comfortaa', cursive;
}

label{
    color : #008132;
}

#div_id_login, #div_id_password{
    margin-top: 20px;
    margin-bottom: 20px;
}

#div_id_login > label, #div_id_password > label, .control-label{
    margin-bottom: 15px;
    display: none;
}

#id_login, #id_password, #id_email, #id_username, #id_password1, #id_password2{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #c3c3c3;
    box-shadow: inset 0 3px 0 #f1f1f1;
    color: #1f282c;
    display: block;
    font-family: inherit;
    font-size: .875rem;
    height: 1.96094rem;
    margin: 0 0 .76562rem;
    padding: .38281rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow .45s,border-color .45s ease-in-out;
} 
    

.lateral_izq
{
    background-color: deepskyblue;
}

.encabezado{
    margin-top: 50px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5rem;
    letter-spacing: normal;
}

.titulo{
    font-family: 'Dosis', sans-serif;
    font-style: Regular;
    color: dimgray;
}

.enlace > a{
    color: gray;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
}

.enlace>a:hover{
    color: red;
}

.social-bar{
    position: fixed;
    right: 25px;
    top: 25%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon{
    color: gray;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon:hover{
    padding-right: 25px;
    border-radius: 1rem, 0,0, 1rem;
    box-shadow: 0,0,0.5rem rgba(0, 0,0, 0.42);
    
}

.facebook :hover{
    color: white;
    background:  #2e406e;
}

.single-liner{
    width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-enlace{
    text-decoration: none;
    color: grey;
    
}
