{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet"> 
{% endblock extra_css %}
    
{% block title %}
    Producto
{% endblock title %}


{% block content %}
    <div class="container-fluid mt-4 ">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-9 border border-gray bg-white mb-4">
                
                {% if articulo %}
                <div class="row d-flex">
                    <div class="col-md-4 float-left ">
                        <img class="float-right" src="{{articulo.imagen_presentacion.url}}" height="300px" alt="300px">
                    </div>
                    <div class="col-md-8 mt-4 mb-4">
                        <h2 style="font-family: 'Roboto Slab', serif; font-size:35px ;font-weight: 700px; color: #333135;;">{{articulo.nombre}}</h2>
                        <h5 class="text-primary mb-4 mt-4 ml-4 ">{{articulo.marca}}</h5>

                        <div class="row">
                            <div class="col-6">
                                {% if articulo.descuento %}
                                    <h4 class="ml-4 text-center" style="font-family: 'Roboto Slab', serif; font-size:18px ;color: #f50930;font-weight: 300px;">$ {{articulo.precio}}</h4>
                                    <h4 class="ml-4 text-center" style="font-family: 'Roboto Slab', serif; font-size:18px ;color: #f50930;font-weight: 300px;"> ${{articulo.descuento}}</h4>
                                {% else %}
                                    <h4 class="ml-4 text-center" style="font-family: 'Roboto Slab', serif; font-size:18px ;color: #f50930;font-weight: 300px;"> ${{articulo.precio}}</h4>

                                {% endif %}
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-danger mt-2 mb-2 text-white" >
                                    Añadir al carrito
                                </a>
                            </div>
                        </div>
                        
                        <div class="card mt-4 mb-4 ml-4 border border-gray" style="max-width: 450px; height: 200px;">
                            <div class="card-body">
                                <p class="text-card">
                                    {{articulo.descripcion}}
                                </p>
                            </div>
                        </div>
                            
                    </div>
                </div>
                {% endif %}
                    
               
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>
{% endblock content %}
    
    